html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Nav-bar elements*/
.head{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left:2vh;
    padding-right: 20vh;
    z-index: 2;
}
.logo{
    margin: 0px;
   height: 4vh;
   width: 4vh;
   border-radius: 100%;
    margin-right: 1vh;
}
.h-icon{
    display: inline-flex;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.2vh;
    text-decoration: overline underline;
    padding: 0px;
    margin: 0px;;
    justify-content: center;
    align-items: center;
}
.bgv{
    
    position: relative;
    min-width: 98vw;
    cursor: none;
    
}
.homebg{
    background-color: rgba(0, 0, 0, 0.8);
}
.bgvtext{
    cursor: none;
    font-size: 35vh;
    z-index: 1.5;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 5vh;
    mix-blend-mode: multiply;  
    font-weight: 800;    
    width: 98vw;

}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    background-color: black;
    overflow: hidden;
    z-index: 2;
    height: 4.8vh;
}
.navbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
    border-radius: 25px;
    height: 3.5vh;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 3.2vh;
    background-color: black;
    border: none;
    transition-timing-function: ease-in-out;
    transition-duration: 270ms;
}
.navbtn:hover{
    background-color: rgb(34, 34, 34); 
}
.navmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    position: fixed;
    top: 0;
    right: 2vh;
    text-align: center;
    height: 4.8vh;
    gap: 0.2vh;
}
.navmenu-mobile{
    display:none;
}

.menu-lines{
    min-width: 20px;
    min-height: 20px;
    width: 4vh;
    height: 4vh;
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    position: fixed;
    top: 0;
    right: 2vh;;
    filter: invert(1);
    scale: 1;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.menu-lines:hover{
scale: 1.2;
}
.menu-lines:active{
    scale: 1.25;
    }
/*For Each section*/
.sec1{
    color: white;
    background-color: black;
    margin: 0px;
}
.sec2{
    background-color: whitesmoke;
    color: black;
}

.section{
    display: grid;
    place-items: center;
    align-content: center;
    padding-top: 5vh;
    height: 95vh;
    scroll-snap-align: start;
    position: relative;
}
.tri1{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    animation-name: trientry1;
    animation-duration: 300ms;
    animation-iteration-count: none;
}
.tri2{
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    animation-name: trientry;
    animation-duration: 300ms;
    animation-delay: 250ms;
    animation-iteration-count: none;
}
/*For mobile optimization*/
@media screen and (max-width: 1450px) , (orientation: portrait){
    .navmenu{
        display: none;
    }
    .navmenu-mobile{
        display: block;
        z-index: 2;
    }
}
/*While loading the content it will not display half loaded content*/
.loaded-content{
    display: none;
}
/*Loading effects and animation*/
.loading{
    height: 100vh;
    width: 100%;
    font-size: 40vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    

}
.loada{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    position: relative;

}
.loadb{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
    position: relative;
}
.loadc{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    position: relative;
    
    animation-delay: 400ms;
}
@keyframes ani {
 0%{

color: royalblue;
    top: 0vh;

 }
 33%
 {

color: white;
top: -1vh;
 }
 66%{
    color: white;
    top: 0vh;
 }
 100%{
    top: 0vh;
    color: royalblue;
    
     }
  }
@keyframes trientry{
    0%{
        bottom: -20rem;
    }
    100%{
        bottom: 2rem;
        right: 2.5rem;
    }
}
@keyframes trientry1{
    0%{
        bottom: -20rem;
    }
    100%{

        bottom: 1rem;
        right: 1rem;
    }
}