html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}
/*Nav-bar elements*/
.head{
    display: inline-flex;
    justify-content: center;
    align-items: center;
position: fixed;
top: 0;
left:2vh;
padding-right: 20vh;
z-index: 2;
}
.logo{
    margin: 0px;
   height: 4vh;
   width: 4vh;
   border-radius: 100%;
    margin-right: 1vh;
}
.h-icon{
    display: inline-flex;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 3.1vh;
text-decoration: overline underline;
padding: 0px;
margin: 0px;;
justify-content: center;
align-items: center;
}
.bgv{
    position: relative;
    min-width: 100%;
    cursor: none;
}
.homebg > .bgvtext{
    cursor: none;
    font-size: 33vh;
    min-width: 100%;
    z-index: 2;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: space-evenly;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 5vh;
    mix-blend-mode: multiply;  
    font-weight: 800;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 5px; 
    overflow: hidden;
    z-index: 2;
    height: 3.4vh;
}
.navbtn{
    height: 3.4vh;
    padding-left: 2.2vh;
    padding-right: 2.2vh;
    font-size: 3vh;
    border-radius: 25px;
    background-color: black;
    border: none;
    transition-timing-function: ease-in-out;
    transition-duration: 270ms;
}
.navbtn:hover{
    background-color: rgb(34, 34, 34); 
}
.navmenu{
    display: inline-flex;
    overflow-wrap: break-word;
    position: fixed;
    top: 0;
    right: 2vh;
}
.navmenu-mobile{
    display:none;
}

.menu-lines{
    min-width: 20px;
    min-height: 20px;
    width: 4vh;
    height: 4vh;
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    position: fixed;
    top: 0;
    right: 2vh;;
    filter: invert(1);
    scale: 1;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.menu-lines:hover{
scale: 1.2;
}
.menu-lines:active{
    scale: 1.25;
    }
/*For Each section*/
.sec1{
    color: white;
    background-color: black;
    margin: 0px;
}
.sec2{
    background-color: whitesmoke;
    color: black;
}

.section{
    padding-top: 5vh;
    height: 95vh;
    scroll-snap-align: start;
}


/*For mobile optimization*/
@media screen and (max-width: 1400px){
    .navmenu{
        display: none;
    }
    .navmenu-mobile{
        display: block;
        z-index: 2;
    }
}
/*While loading the content it will not display half loaded content*/
.loaded-content{
    display: none;
}
/*Loading effects and animation*/
.loading{
    height: 100vh;
    width: 100%;
    font-size: 40vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    

}
.loada{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
.loadb{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 200ms;
}
.loadc{
    animation-name: ani;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    
    animation-delay: 400ms;
}
@keyframes ani {
 0%{

color: rgb(254, 105, 130);

 }
 33%
 {

color: white;

 }
 66%{
    color: white;
 }
 100%{

    color: rgb(254, 105, 130);
    
     }
  }