html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
body{
    margin: 0px;
}
a{
    text-decoration: none;
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 5px; 
    overflow: hidden;
    z-index: 2;
}
.navbtn{
    height: 4vh;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 3vh;
    border-radius: 25px;
    background-color: black;
    border: none;
    transition-timing-function: ease-in-out;
    transition-duration: 270ms;
}
.navbtn:hover{
    background-color: rgb(34, 34, 34); 
}
.navmenu-mobile{
    display:none;
}
.sec1{
    color: white;
    background-color: black;
    margin: 0px;
}
.sec2{
    background-color: whitesmoke;
    color: black;
}

.section{
    padding-top: 5vh;
    height: 95vh;
    scroll-snap-align: start;
}

.menu-lines{
    min-width: 20px;
    min-height: 20px;
    width: 8vh;
    height: 8vh;
    max-width: 45px;
    max-height: 45px;
    border-radius: 100%;
    position: fixed;
    bottom: 1vh;
    right: 1vh;
    filter: invert(1);
    scale: 1;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.menu-lines:hover{
scale: 1.2;
}
.menu-lines:active{
    scale: 1.25;
    }


@media screen and (max-width: 1300px){
    .navmenu{
        display: none;
    }
    .navmenu-mobile{
        display: block;
    }
}